<nav class="navbar">
    <a href="/" class="git navbar-brand">Git<span class="hub">Hub</span></a>
    <li class="nav-item"><a class="nav nav-link active" href="/api/v1/clientes">Ver Clientes</a></li>
</nav>


<style>
    .dropdown-toggle {
        color: #f3f3f3;
        font-size: 2.5rem;
    }
    .dropdown-toggle:hover {
        color: #fff !important;
    }
    .dropdown-toggle:focus {
        color: #fff !important;
    }
    header {
        background-color: rgb(30, 30, 48);
        height: 10vh;
        display: flex;
        align-items: center;
        padding-left: 20px;
    }

    .git {
        color: #f3f3f3;
        text-decoration: none;
        font-size: 2rem;
        margin-right: 20px;
        font-weight: bold;
    }
    .hub {
        color: #000;
        background-color: orange;
        border-radius: 5px;
        padding: 2px;
    }

    .nav {
        color: #f3f3f3;
        font-size: 1.3rem;
    }
    .nav:hover {
        color: #ddd;
    }
</style>