<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Acciones
</a>
<ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/clientes">Ver Clientes</a></li>
    <li><a class="dropdown-item" href="/cliente-form">Buscar Cliente</a></li>
    <li><a class="dropdown-item" href="#">Agregar Cliente</a></li>
    <li><a class="dropdown-item" href="#">Actualizar Cliente</a></li>
    <li><a class="dropdown-item" href="#">Eliminar Cliente</a></li>
</ul>

<style>
    .dropdown-toggle {
        background-color: rgb(30, 30, 48);
        color: #f3f3f3;
    }
    .dropdown-toggle:hover {
        color: #fff !important;
    }
    .dropdown-toggle:focus {
        color: #fff !important;
    }
</style>