<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <section id="cliente-form">
        <h2>Busca un Cliente</h2>
        <form action="" method="post"></form>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Telefono CLiente</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="example: 458241">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
    </section>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>

<style>
    .btn{
        display: flex;
        justify-self: center;
        margin-top: 20px;
        background-color: #555;
        border: none !important;
    }
    .btn:hover {
        background-color: #444;
    }
    .btn:active {
        transform: translateY(2px);
        background-color: #222 !important;
    }

    .form-control:focus {
        box-shadow: 5px 5px 20px 2px rgba(0,0,0,0.5);
        border: .5px solid #333;
        outline: none;
    }
</style>